<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>A침adir usuario - Sistema de usuarios</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/dist/output.css" rel="stylesheet">
    <link href="../public/css/fontawesome-free-6.5.0-web/css/all.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="text-center py-4 bg-gray-800 text-white">
        <h1 class="text-xl font-bold">Sistema de usuarios</h1>
        <div class="flex justify-center space-x-4 mt-2">
          <a href="../Usuario/showAdmin" class="hover:text-gray-300">Volver atr치s</a>
        </div>
    </div>
{% if loggedin %}
  <div class="container mx-auto px-4 mt-6">
    <h2 class="text-2xl font-bold mb-4">Agregar nuevo usuario administrador</h2>
    <form action="" method="POST">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombre" type="text" name="nombre" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" name="email" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Contrase침a</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" name="password" required>
      </div>
      <div class="flex items-center justify-between">
        <button class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600" type="submit">Agregar usuario</button>
      </div>
    </form>
  </div>
{% else %}
<!-- Si no est치 logueado, se redigire al login -->
<script>
  window.location.href = "../Usuario/showLogin?error=2";
</script>
{% endif %}
</body>