<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar usuario newsletter - Calendario escolar</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/dist/output.css" rel="stylesheet">
    <link href="../public/css/fontawesome-free-6.5.0-web/css/all.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="text-center py-4 bg-gray-800 text-white">
        <h1 class="text-xl font-bold">Calendario escolar</h1>
        <div class="flex justify-center space-x-4 mt-2">
          <a href="../UsuarioNotificacion/showAdminNewsletter" class="hover:text-gray-300">Volver atr치s</a>
        </div>
    </div>
{% if loggedin %}
  <div class="container mx-auto px-4 mt-6">
    <h2 class="text-2xl font-bold mb-4">Modificar usuario de la newsletter</h2>
    <form action="" method="POST">
      <input type="hidden" name="id" value="{{ usuario.idUsuarioNotificaciones }}">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombre" type="text" name="nombre" value="{{ usuario.nombreUsuarioNotificaciones }}" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" name="email" value="{{ usuario.correoUsuarioNotificaciones }}" required>
      </div>
      <div class="flex items-center justify-between">
        <button class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600" type="submit">Modificar usuario</button>
      </div>
    </form>
    {% if error == 1 %}
      <div class="bg-red-500 text-white py-2 px-4 rounded">
          Ha habido un error en la modificaci칩n del usuario de notificaci칩n.
      </div>
    {% endif %}
    </div>
  {% else %}
    <!-- Si no est치 logueado, se redigire al login -->
    <script>
      window.location.href = "../UsuarioNotificacion/showLogin?error=2";
    </script>
  {% endif %}
</body>
</html>